<a href="https://cognitiveclass.ai"><img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DL0101EN-SkillsNetwork/images/IDSN-logo.png" width="400"> </a>

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the Keras library. 

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

<h2>Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Keras library to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [ ]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented. 
# If you run this notebook on a different environment, e.g. your desktop, you may need to uncomment and install certain libraries.

#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [3]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore', FutureWarning)

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [4]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
concrete_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.6 KB

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [6]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [7]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [9]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [10]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [11]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [12]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [13]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [14]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [15]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [16]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [17]:
# build the model
model = regression_model()

/home/yun/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [18]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - 48ms/step - loss: 1630.7734 - val_loss: 1134.3234
Epoch 2/100
23/23 - 0s - 4ms/step - loss: 1492.7534 - val_loss: 1006.6799
Epoch 3/100
23/23 - 0s - 3ms/step - loss: 1268.1490 - val_loss: 809.7888
Epoch 4/100
23/23 - 0s - 3ms/step - loss: 944.6288 - val_loss: 567.3873
Epoch 5/100
23/23 - 0s - 3ms/step - loss: 605.1965 - val_loss: 353.2023
Epoch 6/100
23/23 - 0s - 4ms/step - loss: 365.1740 - val_loss: 233.9790
Epoch 7/100
23/23 - 0s - 4ms/step - loss: 267.8378 - val_loss: 193.9004
Epoch 8/100
23/23 - 0s - 4ms/step - loss: 238.2101 - val_loss: 182.1456
Epoch 9/100
23/23 - 0s - 4ms/step - loss: 219.8449 - val_loss: 174.7330
Epoch 10/100
23/23 - 0s - 4ms/step - loss: 207.7326 - val_loss: 172.3038
Epoch 11/100
23/23 - 0s - 5ms/step - loss: 197.9126 - val_loss: 166.8135
Epoch 12/100
23/23 - 0s - 6ms/step - loss: 190.4357 - val_loss: 162.7140
Epoch 13/100
23/23 - 0s - 4ms/step - loss: 183.4128 - val_loss: 162.3196
Epoch 14/100
23/23 - 0s - 4ms/step - loss: 178.5997 - val_loss: 160.5386
Epoch 15/100
23/23 - 0s - 5ms/step - loss: 173.8677 - val_loss: 156.3145
Epoch 16/100
23/23 - 0s - 4ms/step - loss: 170.0245 - val_loss: 153.1544
Epoch 17/100
23/23 - 0s - 5ms/step - loss: 167.1096 - val_loss: 155.0275
Epoch 18/100
23/23 - 0s - 5ms/step - loss: 163.2287 - val_loss: 151.6958
Epoch 19/100
23/23 - 0s - 6ms/step - loss: 160.3795 - val_loss: 151.6009
Epoch 20/100
23/23 - 0s - 4ms/step - loss: 157.8857 - val_loss: 149.2180
Epoch 21/100
23/23 - 0s - 8ms/step - loss: 155.2708 - val_loss: 150.2464
Epoch 22/100
23/23 - 0s - 8ms/step - loss: 152.9364 - val_loss: 147.4501
Epoch 23/100
23/23 - 0s - 4ms/step - loss: 150.7639 - val_loss: 148.2112
Epoch 24/100
23/23 - 0s - 4ms/step - loss: 148.7213 - val_loss: 146.4678
Epoch 25/100
23/23 - 0s - 4ms/step - loss: 146.9853 - val_loss: 146.6320
Epoch 26/100
23/23 - 0s - 4ms/step - loss: 145.3178 - val_loss: 146.1164
Epoch 27/100
23/23 - 0s - 4ms/step - loss: 143.6527 - val_loss: 144.6642
Epoch 28/100
23/23 - 0s - 3ms/step - loss: 141.6020 - val_loss: 145.3851
Epoch 29/100
23/23 - 0s - 4ms/step - loss: 140.0951 - val_loss: 144.2292
Epoch 30/100
23/23 - 0s - 4ms/step - loss: 137.9641 - val_loss: 143.4419
Epoch 31/100
23/23 - 0s - 3ms/step - loss: 136.5101 - val_loss: 143.6681
Epoch 32/100
23/23 - 0s - 3ms/step - loss: 135.0120 - val_loss: 143.1671
Epoch 33/100
23/23 - 0s - 4ms/step - loss: 133.4187 - val_loss: 144.4379
Epoch 34/100
23/23 - 0s - 4ms/step - loss: 132.1046 - val_loss: 141.8647
Epoch 35/100
23/23 - 0s - 4ms/step - loss: 130.9858 - val_loss: 142.3167
Epoch 36/100
23/23 - 0s - 4ms/step - loss: 129.2275 - val_loss: 142.6020
Epoch 37/100
23/23 - 0s - 4ms/step - loss: 126.9332 - val_loss: 141.0744
Epoch 38/100
23/23 - 0s - 4ms/step - loss: 125.1365 - val_loss: 143.3280
Epoch 39/100
23/23 - 0s - 4ms/step - loss: 123.3375 - val_loss: 142.0816
Epoch 40/100
23/23 - 0s - 4ms/step - loss: 121.7515 - val_loss: 142.3300
Epoch 41/100
23/23 - 0s - 5ms/step - loss: 119.2606 - val_loss: 141.4033
Epoch 42/100
23/23 - 0s - 4ms/step - loss: 117.6715 - val_loss: 142.4525
Epoch 43/100
23/23 - 0s - 4ms/step - loss: 115.5228 - val_loss: 140.8937
Epoch 44/100
23/23 - 0s - 4ms/step - loss: 113.5325 - val_loss: 138.8863
Epoch 45/100
23/23 - 0s - 5ms/step - loss: 111.0987 - val_loss: 140.8549
Epoch 46/100
23/23 - 0s - 5ms/step - loss: 107.8913 - val_loss: 137.7385
Epoch 47/100
23/23 - 0s - 4ms/step - loss: 105.6327 - val_loss: 136.4549
Epoch 48/100
23/23 - 0s - 4ms/step - loss: 102.6672 - val_loss: 139.2251
Epoch 49/100
23/23 - 0s - 4ms/step - loss: 99.4979 - val_loss: 138.5199
Epoch 50/100
23/23 - 0s - 3ms/step - loss: 96.6996 - val_loss: 140.6315
Epoch 51/100
23/23 - 0s - 4ms/step - loss: 94.2969 - val_loss: 133.4378
Epoch 52/100
23/23 - 0s - 4ms/step - loss: 90.7229 - val_loss: 137.9610
Epoch 53/100
23/23 - 0s - 4ms/step - loss: 87.9377 - val_loss: 133.4032
Epoch 54/100
23/23 - 0s - 3ms/step - loss: 84.6727 - val_loss: 140.2150
Epoch 55/100
23/23 - 0s - 4ms/step - loss: 82.8760 - val_loss: 129.7791
Epoch 56/100
23/23 - 0s - 3ms/step - loss: 78.4243 - val_loss: 135.4213
Epoch 57/100
23/23 - 0s - 3ms/step - loss: 75.8069 - val_loss: 131.6756
Epoch 58/100
23/23 - 0s - 3ms/step - loss: 73.3023 - val_loss: 128.0974
Epoch 59/100
23/23 - 0s - 3ms/step - loss: 70.3463 - val_loss: 127.9056
Epoch 60/100
23/23 - 0s - 3ms/step - loss: 68.3957 - val_loss: 131.2572
Epoch 61/100
23/23 - 0s - 3ms/step - loss: 66.0141 - val_loss: 127.4651
Epoch 62/100
23/23 - 0s - 3ms/step - loss: 64.1292 - val_loss: 119.6443
Epoch 63/100
23/23 - 0s - 3ms/step - loss: 61.6381 - val_loss: 126.9550
Epoch 64/100
23/23 - 0s - 3ms/step - loss: 60.2106 - val_loss: 124.4225
Epoch 65/100
23/23 - 0s - 6ms/step - loss: 58.1652 - val_loss: 121.1529
Epoch 66/100
23/23 - 0s - 3ms/step - loss: 56.2136 - val_loss: 121.0785
Epoch 67/100
23/23 - 0s - 3ms/step - loss: 55.0803 - val_loss: 124.1761
Epoch 68/100
23/23 - 0s - 3ms/step - loss: 53.5254 - val_loss: 119.2936
Epoch 69/100
23/23 - 0s - 3ms/step - loss: 52.5219 - val_loss: 124.8327
Epoch 70/100
23/23 - 0s - 4ms/step - loss: 50.7513 - val_loss: 118.2643
Epoch 71/100
23/23 - 0s - 3ms/step - loss: 49.4176 - val_loss: 115.3856
Epoch 72/100
23/23 - 0s - 3ms/step - loss: 48.7605 - val_loss: 128.6706
Epoch 73/100
23/23 - 0s - 3ms/step - loss: 47.6384 - val_loss: 115.4053
Epoch 74/100
23/23 - 0s - 3ms/step - loss: 46.6484 - val_loss: 117.8607
Epoch 75/100
23/23 - 0s - 4ms/step - loss: 45.3963 - val_loss: 116.9904
Epoch 76/100
23/23 - 0s - 3ms/step - loss: 44.2185 - val_loss: 121.9013
Epoch 77/100
23/23 - 0s - 5ms/step - loss: 44.4119 - val_loss: 124.7702
Epoch 78/100
23/23 - 0s - 5ms/step - loss: 42.8762 - val_loss: 109.5511
Epoch 79/100
23/23 - 0s - 4ms/step - loss: 42.6198 - val_loss: 126.5043
Epoch 80/100
23/23 - 0s - 3ms/step - loss: 41.7336 - val_loss: 114.0152
Epoch 81/100
23/23 - 0s - 3ms/step - loss: 41.1303 - val_loss: 119.4404
Epoch 82/100
23/23 - 0s - 3ms/step - loss: 40.9412 - val_loss: 115.1658
Epoch 83/100
23/23 - 0s - 4ms/step - loss: 39.8139 - val_loss: 121.1889
Epoch 84/100
23/23 - 0s - 4ms/step - loss: 39.8267 - val_loss: 117.3311
Epoch 85/100
23/23 - 0s - 3ms/step - loss: 39.6507 - val_loss: 120.3702
Epoch 86/100
23/23 - 0s - 3ms/step - loss: 38.4889 - val_loss: 119.1402
Epoch 87/100
23/23 - 0s - 3ms/step - loss: 37.8153 - val_loss: 118.3231
Epoch 88/100
23/23 - 0s - 3ms/step - loss: 37.9115 - val_loss: 116.5589
Epoch 89/100
23/23 - 0s - 5ms/step - loss: 37.0039 - val_loss: 121.2198
Epoch 90/100
23/23 - 0s - 13ms/step - loss: 37.0459 - val_loss: 114.9585
Epoch 91/100
23/23 - 0s - 5ms/step - loss: 36.2854 - val_loss: 118.0999
Epoch 92/100
23/23 - 0s - 3ms/step - loss: 36.0349 - val_loss: 117.4602
Epoch 93/100
23/23 - 0s - 3ms/step - loss: 35.6656 - val_loss: 122.0622
Epoch 94/100
23/23 - 0s - 3ms/step - loss: 35.3473 - val_loss: 116.1812
Epoch 95/100
23/23 - 0s - 3ms/step - loss: 34.9898 - val_loss: 133.7105
Epoch 96/100
23/23 - 0s - 3ms/step - loss: 34.8523 - val_loss: 122.0248
Epoch 97/100
23/23 - 0s - 12ms/step - loss: 34.5307 - val_loss: 126.9956
Epoch 98/100
23/23 - 0s - 3ms/step - loss: 33.8508 - val_loss: 120.7421
Epoch 99/100
23/23 - 0s - 3ms/step - loss: 33.5217 - val_loss: 123.1655
Epoch 100/100
23/23 - 0s - 3ms/step - loss: 33.2448 - val_loss: 123.6264

<strong>You can refer to this [link](https://keras.io/models/sequential/) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!

This notebook was created by [Alex Aklson](https://www.linkedin.com/in/aklson/). I hope you found this lab interesting and educational. Feel free to contact me if you have any questions!


## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-09-21  | 2.0  | Srishti  |  Migrated Lab to Markdown and added to course repo in GitLab |



<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

This notebook is part of a course on **Coursera** called *Introduction to Deep Learning & Neural Networks with Keras*. If you accessed this notebook outside the course, you can take this course online by clicking [here](https://cocl.us/DL0101EN_Coursera_Week3_LAB1).

<hr>

Copyright &copy; 2019 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).